{{ set(this, 'title', "Verify Email Address") }}
{{ set(this, 'params', {search: true})  }}
{% set networkData = _Network.getNetworkData() %}
{% set homeUrl = networkData.networkLogoLinkUrl %}
<div class="search">
    <div class="search__error">
        {% if success == '1' %}
            Your email address has been verified successfully.
        {% else %}
            Verification of email address failed.
        {% endif %}
    </div>
    <a href="{{homeUrl}}" class="button search__button">Back to Homepage</a>
</div>
